* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}

/* 320px — 480px: Mobile devices. */

@media (min-width: 320px) and (max-width: 480px) {
    nav {
        background-color: red;
    }
}

/* 481px — 768px: iPads, Tablets. */

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        background-color: blue;
    }
}


/* 769px — 1024px: Small screens, laptops. */
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        background-color: green;
    }
}

/* 1025px — 1200px: Desktops, large screens. */

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
        background-color: yellow;
    }
}