* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* div{
    background-color: black;
    
}

p{
    border: 1px solid red;
    display: inline;
    background-color: bisque;
}

a{
    border: 1px solid green;
    margin-top: 100px;
    display: block;
}

.click{
    color: black;
    background-color: yellow;
    padding: 10px 30px;
    display: inline-block;

} */

.parent {
    border: 2px solid green;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.child {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.black {
    background-color: black;

}

.blue {
    background-color: blue;
    /* display: none; */
    /* visibility: hidden; */
    /* position: absolute; */
    /* right: 10px; */


    /* position: relative;
   left: 200px;
   top: 10px; */

    position: fixed;
    bottom: 10px;
    right: 30px;
    border-radius: 50%;

}

.orange {
    background-color: orange;
    /* position: absolute;
   left: 200px;
   top: 0; */

}

nav {
    width: 100%;
    height: 100px;
    /* background-color: blueviolet; */
    position: sticky;
    top: 10px;
}

/* 320px — 480px: Mobile devices. */

@media (min-width: 320px) and (max-width: 480px) {
    nav {
        background-color: red;
    }
}

/* 481px — 768px: iPads, Tablets. */

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        background-color: blue;
    }
}


/* 769px — 1024px: Small screens, laptops. */
@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        background-color: green;
    }
}

/* 1025px — 1200px: Desktops, large screens. */

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
        background-color: yellow;
    }
}

